body {
  background-color:aliceblue !important;
}



.nav-bar {
  top: 0px;
  width: 100%;
  height: auto;
  /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
  background: #5C258D; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #5C258D , #4389A2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #5C258D , #4389A2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: fixed;
  z-index: 10;
  text-align: center;
  -webkit-box-shadow: 7px 6px 5px -1px rgba(189,181,191,0.83);
  -moz-box-shadow: 7px 6px 5px -1px rgba(189,181,191,0.83);
  box-shadow: 1px 6px 5px -1px rgba(189,181,191,0.83);
}

h1 {
  padding: 0px;
  font-family:'Lobster', sans-serif !important;
  color: white !important;
}

.search {
  width: 300px;
  margin-top: 90px;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  /*border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;*/
}

.search-btn {
  /*border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;*/
}

.divide {
  font-size: 10px;
  text-align: center;
}

.btn-location {
  margin-top: 0px !important;
  margin-bottom: 5px !important;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px !important;
  color: white !important;
  width: 200px !important;
  background: #5C258D;
  background: -webkit-linear-gradient(to left, #5C258D , #4389A2) !important;
  background: linear-gradient(to left, #5C258D , #4389A2) !important;
}

.map-container {
  margin: 0 auto;
  width: 90%;
  border-radius: 10px;
  -webkit-box-shadow: 7px 6px 5px -1px rgba(189,181,191,0.83);
  -moz-box-shadow: 7px 6px 5px -1px rgba(189,181,191,0.83);
  box-shadow: 7px 6px 5px -1px rgba(189,181,191,0.83);
}

#map {
  height: 300px;
  width: 100%;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.loc-container {
  background: #5C258D;
  background: -webkit-linear-gradient(to left, #5C258D , #4389A2) !important;
  background: linear-gradient(to left, #5C258D , #4389A2) !important;
  margin: 0 auto;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 22px;
  /*font-family:'Lobster', sans-serif !important;*/
  line-height: 26px;
  padding: 5px;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.photo-container {
  text-align: center;
  display: inline-block;
  margin: 10px auto;
  width: 90%;
}

img {
  height: 250px;
  width: 250px;
}
